.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_0_0_jar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_0_0_aar.xml
.idea/libraries/Gradle__com_squareup_okhttp3_logging_interceptor_4_2_1_jar.xml
.idea/libraries/Gradle__com_squareup_okhttp3_mockwebserver_4_0_0_jar.xml
.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_4_0_0_jar.xml
.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_4_2_1_jar.xml
.idea/libraries/Gradle__com_squareup_okio_okio_2_2_2_jar.xml
.idea/libraries/Gradle__com_squareup_okio_okio_2_4_3_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_3_72_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_3_72_jar.xml
.idea/sonarlint/issuestore/2/e/2eaa3d30c04fdd4172ef63854ce598aa5b974206
.idea/sonarlint/issuestore/4/2/4267c5345aaf21a3293be4a72c0863627b0ee396
.idea/sonarlint/issuestore/4/6/4676449f0d451b968edb1b3ec4902c37fd8ac92f
.idea/sonarlint/issuestore/5/2/52fad972d20f08acff837e689da58ba4e6b1cc77
.idea/sonarlint/issuestore/a/f/af7c3f43bff803ad0b38b3020d313cb6c8365f76
.idea/sonarlint/issuestore/d/a/daf2a12c840b06cdcf2466356ef8372fc7fb7360
